/*********
RESET
*********/
*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

/*********
GENERAL
*********/
body{
    font-family: "Open Sans", serif;
    background-color: #303030;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/*********
HEADER
*********/
.header img{
    width: 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.header button{
    margin-right: 10px;
    padding: 15px;
    font-size: 16px;
    border: 1px orange solid;
    background-color: transparent;
    cursor: pointer;
    color: white;
    border-radius: 20px;
}
/*********
CARDS
*********/
.card{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.character{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: calc(100% / 3);
    flex-grow: 1;
    padding: 20px;
    background-color: orange;
}

.character img{
    max-width: 200px;
    height: 200px;
}

.delete-btn button{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.form{
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: orange;
    padding: 10px;
}

.form div{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.form button{
    margin-right: 10px;
    padding: 15px;
    font-size: 16px;
    border: 1px #303030 solid;
    background-color: transparent;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    color: #000;
    margin: 4px;
}


