/*********
RESET
*********/
*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

/*********
GENERAL
*********/
body{
    font-family: "Open Sans", serif;
    background-color: #303030;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/*********
HEADER
*********/
.header img{
    width: 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    margin-right: 10px;
    padding: 5px;
    border: 1px orange solid;
    background-color: transparent;
    cursor: pointer;
    color: white;
    border-radius: 20px;
}
/*********
CARDS
*********/
.card{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: calc(100% / 3);
    flex-grow: 1;
    padding: 20px;
    background-color: orange;
}

.character img{
    max-width: 200px;
    height: 200px;
}

